$--color-primary: #19CF86;
$--color-secundary: #404850;
$--default: #F2F2F2;
$--color-default: #747786;
$--dark: rgb(31, 33, 36);


$grid-breakpoints: (
  xs: 500px, // <
  sm: 768px, // >
  md: 992px, // ≥
  lg: 1200px, // ≥
  xl: 1920px // ≥
);

$df: #A8A8A8 !default;
