/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

@import "./config/base.scss";

//==============================================
//============= START GLOBAL STYLE =============
//==============================================
//=============     DESABAFE      =============
//==============================================

//Escreva os estilos globais aqui...


* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

body, html {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: #E6ECF0;
}


.auto {
  width: 85%;
  margin: 0 auto !important;
  position: relative;
  max-width: 1200px;
}

.emoji-wysiwyg-editor {
  border-radius:  7px !important;
  border-color: $--color-primary !important;
  background-color: #F4F8FB !important;
  font-size: .9rem;
  width:  calc(100% - 3rem);
  textarea {
    width: 100%;
    max-width: 100%;
  }
}

p {
  font-size: .86rem;
  color: $--dark;
  line-height: 1.3rem;
}


.el-upload--picture-card {
  height: 30px !important;
  width: 30px !important;
  border: none !important;
}
