@mixin media-min($breakpoint){
  @if map-has-key($grid-breakpoints,$breakpoint){
    @media all and (min-width: map-get($grid-breakpoints,$breakpoint)){
      @content;
    }
  }
  @else{
    @warn "Não existe o" #{$breakpoint};
  }
}

@mixin media-max($breakpoint){
  @if map-has-key($grid-breakpoints,$breakpoint){
    @media all and (max-width: map-get($grid-breakpoints,$breakpoint)){
      @content;
    }
  }
  @else{
    @warn "Não existe o" #{$breakpoint};
  }
}

@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
