<script>
import store from 'store';

export default {
    name: 'dash',
    data() {
        return {
            user: {
                name: ''
            }
        }
    },
    mounted() {
        store.get('user') != null ? this.user.name = store.get('user') : false;    
    }
}
</script>

<template>
    <div>
        Hello Dash :) você tá logado {{user.name}}
    </div>
</template>

<style lang="">
    
</style>