<script>
import getApi from '@/services/getApi';
import store from 'store';

export default {
  name: 'home',
  data() {
    return {
       tableData: [],
       logged: false,
       centerDialogVisible: false,
       user: {
           name: '',
           pass: ''
       }
    };
  },
  mounted() {
      getApi.get().then(response => response.json())
        .then(json => this.tableData = json);
        store.get('user') != null ? (this.user.name =  store.get('user'), this.logged = true) : false;
  },
  methods:{
      login() {
        this.centerDialogVisible = !this.centerDialogVisible
      },
      postLogin() {
          store.set('user',this.user.name);
          this.logged = true;
          this.centerDialogVisible = false;
      },
      logout() {
        store.remove('user');
        this.logged = false;   
      },
      dash() {
        this.$router.push({name:'dash'});    
        store.get('user') != null ? false : this.$message.error('Oops, você precisa tá logado para ir ao dash :(');
      }
  },
  components: {

  },
};
</script>

<template>
  <el-container>
    <!-- modal login -->
    <el-dialog
    title="Entrar"
    :visible.sync="centerDialogVisible"
    width="30%"
    center>
    <span style="margin-bottom:1rem;display: block;">Digite um nome e senha :)</span>
    <el-form>
        <el-form-item>
            <el-input type="text" v-model="user.name" placeholder="Nome"  />
        </el-form-item>
        <el-form-item>
            <el-input type="password" v-model="user.pass" placeholder="Senha"  />
        </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
        <el-button @click="centerDialogVisible = false">Cancelar</el-button>
        <el-button type="primary" @click="postLogin()">Entrar</el-button>
    </span>
    </el-dialog>
    <!-- final modal login -->
    <el-header :class="{'active':logged}">
    <div v-if="!logged">
         HEADER HOME - <a href="" @click.prevent="login()">Entrar</a> - <a href="" @click.prevent="dash()">Ir para dash</a> 
    </div>
    <div v-else>
       Olá {{user.name}} - <a href="" @click.prevent="dash()">Ir para dash</a>  - <a href="" @click.prevent="logout()">Sair</a> 
    </div>
    </el-header>
    <el-main>
      <el-row type="flex" justify="center">
        <el-col :lg="16" :md="16">
           <div>
               <el-table
            :data="tableData"
            style="width: 100%">
            <el-table-column
                prop="title"
                label="Titulo"
                width="350">
            </el-table-column>
            <el-table-column
                prop="body"
                label="Texto"
                width="350">
            </el-table-column>
            </el-table>
           </div>
        </el-col>
      </el-row>
    </el-main>
  </el-container>
</template>

<style lang="scss" scoped>
a {
    color: rgb(34, 179, 166);
}
.bg-purple {
  background-color: $--color-primary;
}
  .el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
    &.active {
        background-color: rgb(17, 82, 126);
        color: #fff;
    }
  }

  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
    width: 80%;
  }

  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
  }

  body > .el-container {
    margin-bottom: 40px;
  }

  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }

  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
</style>
