<script>
import $ from 'jquery';

export default {
  name: 'navbar',
  data() {
    return {
      getUrl: null,
      active: false,
    };
  },
  mounted() {
    this.$event.$on('ATUAL',(e) => {
        this.$store.commit('SET_URL', e);
    });
    let v;
    const self = this;
    window.onscroll = function() {
       v =   $(document).scrollTop();
       v >= 200 ? self.active = true : self.active = false;
    }

    this.getUrl = this.$store.state.url;
    this.$event.$on('P2',() => {
      this.active = true;
    });
    this.$event.$on('P1',() => {
      this.active = false;
    });
  },
  methods: {
    simular() {
      this.$event.$emit('FX');
    }
  }
};
</script>

<template>
  <nav class="navbar navbar-expand-lg w-100 navbar-light" :class="{active:active}" id="menu">
    <div class="container-fluid  w-100">
  <div class="row  no-gutters mx-auto w-100">
      <div class="col-md-12 mx-auto w-100  col-lg-2 col-12">
        <router-link class="navbar-brand" :to="{name:'home'}"><img src="./../assets/img/logo.png" alt="Logo Ssangyong"></router-link>
        <button class="navbar-toggler float-right mt-ss-2 mt-sm-3 mt-1 mt-md-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
          </svg>
        </button>
      </div>
    <div class="collapse navbar-collapse text-md-right text-center col-md-10 col-12 ml-md-auto" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active">
          <router-link :to="{name:'home'}" class="nav-link" href="#">HOME</router-link>
        </li>
        <li class="nav-item">
          <router-link :to="{name:'seminovos'}" class="nav-link">SEMINOVOS</router-link>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">TEST DRIVE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MODELOS</a>
        </li>
        <li class="nav-item">
          <a href="/contato" class="nav-link" >CONTATO</a>
        </li>
         <li class="nav-item simular">
          <a class="nav-link" href="#" @click.prevent="simular()">SIMULAR FINANCIAMENTO </a>
        </li>
      <!--  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
    </div>
</nav>
</template>

<style lang="scss" scoped>
nav {
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  margin: auto;
  display: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999 !important;
}
.navbar-light .navbar-nav .nav-link {
  color:#eee !important;
  &:hover {
    color: #fff !important;
  }
}
a {
  color: #eee !important;
}
  .navbar {
    .nav-link.active {
      color: #fff !important;
    }
    .simular {
      a {
        background-color: $active;
        padding: 1rem;
        border-radius: .2rem;
        margin-top: -2rem;
        @include media-min(lg) {
          padding-top: 2.4rem;
        }
        font-size: 1.1rem;
        font-weight: bold;
        &:hover {
          box-shadow: 0 0 1.6rem rgba(000,000,000,0.6);
        }
      }
    }
    background-color: transparent;
    position: fixed;
    transition: all .5s ease-in-out;
    &.active {
      background-color: rgba($primary,.9);
      @include media-min(md) {
        background-color: rgba($primary,.9);
      }
    }
    @include media-min(md) {
      position: absolute;
      &.active {
        position: fixed;
      }
    }
    z-index: 99999999;
     .nav-link {
      font-size: 1rem;
      color: $default;
      &:hover {
        color: #fff !important;
      }
    }
  }
  .navbar-light .navbar-toggler {
    color: #fff !important;
    border-color: #fff !important;
  }

  .navbar-brand {
    img {
      width: 10rem;
       @include media-min(sm) {
        width: 14rem;
      }
      @include media-min(md) {
        width: 13rem;
      }
    }
  }

  .collapse,.navbar-nav {
    position: relative;
    background-color:$primary;
    transition: all .3s ease-in-out;
    @include media-min(md) {
      background-color:  transparent;
    }
  }
  .nav-item {
    padding: 0 1rem 0 1rem;
  }
  .nav-item.active {
    .nav-link {
      color: #fff !important;
    }
  }
</style>

