<script>

export default {
  name: 'layout-default',
  data() {
    return {

    };
  },
  mounted() {

  },
  components: {
  },
};
</script>

<template>
  <div id="cb-template">
    <transition>
      <router-view />
    </transition>
  </div>
</template>

<style lang="scss" scoped>
#cb-template {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
</style>
